* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #121212;
    color: white;
}
.main-section {
    height: 200vh;
    position: relative;
    background: #070707;
}
.track {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d1d1;
}
.road {
    width: 100vw;
    height: 200px;
    background-color: #181818;
    position: relative;
    overflow: hidden;
}
.car {
    height: 200px;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 10;
}
.trail {
    height: 200px;
    background: #45db7d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
}
.text-box {
    opacity: 0;
    transition: opacity 0.5s;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.num-box{
    font-size: 58px;
    font-weight: 600;
}
.text-box.show {
    opacity: 1;
}
.scroll-headline {
    top: 15% !important;
    font-size: 8rem;
    font-weight: bold;
    position: absolute;
    left: 5%;
    z-index: 5;
    display: flex;
    gap: 0.3rem;
}
.scroll-letter {
    color: #111;
    opacity: 0;
}
#box1{
    background: #def54f;
    color: #111;
    font-size: 18px;
    padding: 30px 30px;
    top: 5%;
    right: 30%;
}
#box2{
    background: #6ac9ff;
    color: #111;
    padding: 30px 30px;
    bottom: 5%;
    right: 35%;
}
#box3{
    background: #333;
    color: #fff;
    padding: 30px 30px;
    top: 5%;
    right: 10%;
}
#box4{
    background: #fa7328;
    color: #111;
    padding: 30px 30px;
    bottom: 5%;
    right: 13%;
}